html,
body {
  height: 100%;
  width: 100%;
  background-color: #6951f0;
  color: white;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.persona-llamada-nombre {
  font-size: 75px;
  text-transform: capitalize;
}

.persona-llamada-box {
  font-size: 100px;
  text-transform: capitalize;
}

.personas-llamadas {
  background-color: #6951f0;
  font-size: 40px;
  text-transform: capitalize;
}

/* Nuevo-Paciente */
#lblPersonaLlamada,
#lblUltimaPersonaAgregada {
  font-size: 70px;
  text-transform: capitalize;
}

.invalid-feedback {
  color: #ffb74d;
  /* background-color: #bf360c; */
}

.bg-info,
.btn-info {
  background-color: #17a2b8 !important;
}
