html,
body {
  height: 100%;
  width: 100%;
  background-color: #6951f0;
  color: white;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.paciente-actual-nombre {
  font-size: 80px;
  text-transform: capitalize;
}

.paciente-actual-consultorio {
  font-size: 120px;
  text-transform: capitalize;
}

.paciente-secundario {
  background-color: #6951f0;
  font-size: 40px;
  text-transform: capitalize;
}

/* Nuevo-Paciente */

#lblUltimoPacienteAgregado {
  font-size: 70px;
  text-transform: capitalize;
}

.invalid-feedback {
  color: #ffb74d;
  /* background-color: #bf360c; */
}
